<!DOCTYPE html>
<html lang="en" ng-controller="htmlCtrl">
<head>
	<meta charset="UTF-8">
	<title>后台文件管理</title>
	<link rel="icon" href="/resources/src/img/icon/tsora.png">
	<script type="text/javascript" src="/back-stage/vendor/require/require.min.js"></script>
	<script type="text/javascript" src="/back-stage/src/js/require-config.js"></script>
	<style type="text/css">
	/*.breadcrumb{background-color:transparent!important;}*/
</style>
</head>
<body style="padding: 0px;">
	<!-- 页面内容 -->
	<div class="container-fluid" style="padding-top: 0px;">
		<div class="row">
			<div class="col-sm-12 bg-primary">
				<div class="row">
					<div class="col-sm-10">
						<ol class="breadcrumb" style="margin-bottom: 0px;background-color:transparent;">
							<li>GitHub</li>
							<li ng-repeat="(index,breadcrumbs) in breadcrumbs">{{breadcrumbs}}</li>
						</ol>
					</div>
					<div class="col-sm-2">
						<ul class="list-inline" style="padding: 8px 15px;margin-bottom: 0px;">
							<li class="pull-right"><i class="fa fa-trash-o" title="删除" ng-click="delete()"></i></li>
							<li class="pull-right"><i class="fa fa-save" title="保存" ng-click="saveFile()"></i></li>
							<li class="pull-right"><i class="fa fa-file-o" title="新建文件" data-toggle="modal" data-target="#newFile"></i></li>
							<li class="pull-right"><i class="fa fa-folder-o" title="新建文件夹" data-toggle="modal" data-target="#newFolder"></i></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="row" style="height: calc(100vh - 44px);overflow: auto;">				
					<div class="easyui-panel">
						<ul id="ca" class="easyui-tree" data-options="url:'/back-stage/action/api/easyui-filetree.php'">
						</ul>
					</div>
				</div>
			</div>

			<div class="col-sm-10">
				<div class="row">
					<pre id="editor" class="" style="height: calc(100vh - 44px);" disabled></pre>
				</div>
			</div>
			<div class="col-sm-12">
				<ul class="list-group" ng-repeat="catalog in catalog" ng-if="catalog.filetype=='dir'">
					<li href="#" class="list-group-item">
						<h3 class="list-group-item-heading" ng-click="open_project_floder(catalog.tree,catalog.filename)"><a href="#">{{catalog.filename}}</a></h3>
						<ul class="list-inline">
							<li><a href="/{{catalog.filename}}/"><i class="glyphicon glyphicon-link"></i></a></li>
							<li><i class="glyphicon glyphicon-grain">{{catalog.createtime|limitTo:10}}</i></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 模态框 -->
	<section>

		<!-- 新建文件夹模态框 -->
		<div class="modal fade" id="newFolder" tabindex="-1" role="dialog" aria-labelledby="newFolderLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="newFolderLabel">新建文件夹</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12 bg-info">
									<ol class="breadcrumb" style="margin-bottom: 0px;background-color:transparent;">
										<li>GitHub</li>
										<li ng-repeat="(index,breadcrumbs) in breadcrumbs">{{breadcrumbs}}</li>
									</ol>
								</div>
								<div class="col-sm-12" style="margin-top: 20px;">
									<form class="form-horizontal">
										<div class="form-group">
											<label for="FolderName" class="col-sm-2 control-label">FolderName</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" id="FolderName" placeholder="FolderName">
											</div>
										</div>
									</form>
								</div>
								
							</div>

						</div>
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" ng-click="newFolder()">Save</button>
					</div>
				</div>
			</div>
		</div>


		<!-- 新建文件模态框 -->
		<div class="modal fade" id="newFile" tabindex="-1" role="dialog" aria-labelledby="newFileLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="newFileLabel">新建文件</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12 bg-info">
									<ol class="breadcrumb" style="margin-bottom: 0px;background-color:transparent;">
										<li>GitHub</li>
										<li ng-repeat="(index,breadcrumbs) in breadcrumbs">{{breadcrumbs}}</li>
									</ol>
								</div>
								<div class="col-sm-12" style="margin-top: 20px;">
									<form class="form-horizontal">
										<div class="form-group">
											<label for="FileName" class="col-sm-2 control-label">FileName</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" id="FileName" placeholder="FileName">
											</div>
										</div>
									</form>
								</div>
								
							</div>

						</div>
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" ng-click="newFile()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" src="../vendor/ace/ace.js"></script>
	<script type="text/javascript" src="../vendor/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../vendor/angular/angular.min.js"></script>
	<script type="text/javascript">
		require(["initialize","jquery-easyui"],function(ini){
			ace.require("ace/ext/language_tools");
			var editor = ace.edit("editor");
			editor.setTheme("ace/theme/chrome");




			var htmlApp=angular.module("htmlApp",[]);

			htmlApp.config(function($httpProvider){
				$httpProvider.defaults.headers.post = { 'Content-Type': 'application/x-www-form-urlencoded' }
			})

			htmlApp.controller("htmlCtrl",function($scope){
				// console.log(this);
				$scope.breadcrumbs=[];

				$(document).keydown(function(event){
					var keyCode = event.keyCode || event.which || event.charCode;
					var ctrlKey = event.ctrlKey || event.metaKey;
					if(ctrlKey && keyCode == 83) {
						$scope.saveFile();
						event.preventDefault();
						return false;
					}

				})

				$scope.newFolder=function(){
					// console.log($('#FolderName').val());

					var result=callAPI({
						url:"/back-stage/action/api/createFolder.php",
						data:{url:"/"+$scope.breadcrumbs.join("/")+"/"+$('#FolderName').val()}
					});
					if(result=='1'){
						alert("文件夹创建成功");
						$('#newFolder').modal('toggle');
						location.reload();
					}else{
						alert("文件夹创建失败");
					}
					

				}

				$scope.newFile=function(){
					var result=callAPI({
						url:"/back-stage/action/api/createFile.php",
						data:{url:"/"+$scope.breadcrumbs.join("/")+"/"+$('#FileName').val()}
					});
					if(result=='1'){
						alert("文件创建成功");
						$('#newFolder').modal('toggle');
						location.reload();

					}else{
						alert("文件创建失败");
					}

				}
				$scope.saveFile=function(){
					var result=callAPI({
						url:"/back-stage/action/api/writeFile.php",
						data:{
							url:"/"+$scope.breadcrumbs.join("/"),
							content:document.getElementById("editor").env.editor.getValue()
						}
					});
					if(result=='1'){
						alert("文件保存成功");
					}else{
						alert("文件保存失败");
					}
					// console.log(document.getElementById("editor").env.editor.getValue());
				}

				$scope.delete=function(){
					if(confirm("确定要删除'GitHub/"+$scope.breadcrumbs.join("/")+"'吗？")){
						var result=callAPI({
							url:"/back-stage/action/api/deleteFile.php",
							data:{
								url:"/"+$scope.breadcrumbs.join("/")
							}
						});
						console.log(result);
						if(result=='1'){
							alert("文件删除成功");
							location.reload();
						}else{
							alert("文件删除失败");
						}
					}else{
						console.log(0);
					}
				}

				$("#ca").tree({
					onClick:function(node){
						// console.log(node);
					},
					onDblClick:function(node){
						// console.log(node);
						if(node.type==='file'){
							$scope.breadcrumbs=node.url.split("/").slice(1);
							$scope.$apply();
							switch(node.url.slice(node.url.lastIndexOf(".")+1).toLowerCase()){
								case "html":case "htm":{
									editor.session.setMode("ace/mode/html");
									break;
								};
								case "js":{
									editor.session.setMode("ace/mode/javascript");
									break;
								};
								case "css":{
									editor.session.setMode("ace/mode/css");
									break;
								};
								case "json":{
									editor.session.setMode("ace/mode/json");
									break;
								};
								case "md":{
									editor.session.setMode("ace/mode/markdown");
									break;
								};
								default:{
									break;
								};
							}
							document.getElementById("editor").env.editor.setValue(callAPI({
								url:"/back-stage/action/api/readFile.php",
								data:{url:node.url}
							}),1)
						}
					},
					onExpand:function(node){
						// $("#ca").attr("data-options","url:'/back-stage/action/api/easyui-filetree.php?url="+node.url+"");
						// console.log(node);
						$scope.breadcrumbs=node.url.split("/").slice(1,node.url.split("/").length-1);
						$scope.$apply();
					},
					onBeforeLoad:function(node,param){
						if(node!=null){param.url=node.url;}
						
						// console.log(node);
						// console.log(param);

					},
					onLoadSuccess:function(node,data){
						// console.log(node);
						// console.log(data);
					}
				})





			})
			angular.bootstrap(document, ["htmlApp"]);

		})





	</script>

</body>
</html>