<!DOCTYPE html>
<html lang="en" ng-app="htmlApp" ng-controller="htmlCtrl">
<head>
	<meta charset="UTF-8">
	<title>后台项目管理系统</title>
	<link rel="icon" href="/back-stage/src/img/tsora-icon-1.png">
	<link rel="stylesheet" href="/back-stage/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/back-stage/vendor/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/back-stage/src/css/style.css">
</head>
<body style="background-color: #cccccc;" id="app">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9">
				<ol class="breadcrumb">
					<li ng-click="get_poject_catalog()"><a href="/back-stage/index.html">GitHub</a></li>
					<li ng-repeat="(index,breadcrumbs) in breadcrumbs" ng-click="open_project_floder(index,breadcrumbs)"><a href="#">{{breadcrumbs}}</a></li>
				</ol>
			</div>
			<div class="col-md-3">
				<ol class="breadcrumb">
					<li>1</li>
					<li>1</li>
					<li>1</li>
					<li>1</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3" ng-repeat="catalog in catalog">
				<div class="thumbnail" >
					<img src="/back-stage/src/img/tsora-icon-1.png" alt="..." height="50px" width="30%">
					<div class="caption">
						<h3 class="text-right" ng-click="open_project_floder(catalog.tree,catalog.dirname)"><a href="#">{{catalog.dirname}}</a></h3>
						<p class="small">{{catalog.createtime|limitTo:10}}//{{catalog.updatetime|limitTo:10}}//{{catalog.visittime|limitTo:10}}</p>
						<ul class="list-inline">
							<li><a href="/{{catalog.dirname}}/"><i class="glyphicon glyphicon-link"></i></a></li>
							<li ng-click="show_project_readme(catalog.dirname)"><a href="#" data-toggle="modal" data-target="#projectReadme"><i class="glyphicon glyphicon-exclamation-sign"></i></a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="row" style="display: none;">
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation" ng-repeat="dir in floder_dir" ng-click="open_project_floder(dir.tree,dir.dirname)"><a href="#" class="glyphicon glyphicon-folder-open">&nbsp;{{dir.dirname}}</a></li>
					<li role="presentation" ng-repeat="file in floder_file" ng-click="open_project_file(file.filename)"><a href="#" class="glyphicon glyphicon-file">&nbsp;{{file.filename}}</a></li>
				</ul>
			</div>
			<div class="col-md-10">
				<pre id="editor" class="" style="height: calc(100vh - 140px);" disabled></pre>
			</div>
		</div>	
	</div>

	<!-- <ng-include src="`/back-stage/template/bootstrap/javascript/modal/default.html`"></ng-include> -->

	<script type="text/javascript" src="/back-stage/vendor/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/back-stage/vendor/bootstrap/js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="/back-stage/vendor/ace/ace.js"></script>

	<script type="text/javascript" src="/back-stage/vendor/showdown/showdown.min.js"></script>

	<script type="text/javascript" src="/back-stage/vendor/angular/angular.min.js"></script>
	<script type="text/javascript" src="/back-stage/src/js/angular-init.js"></script>

	<script type="text/javascript">

	</script>

</body>
</html>