<!DOCTYPE html>
<html lang="en" ng-controller="htmlCtrl">
<head>
	<meta charset="UTF-8">
	<title>文件同步管理</title>
	<link rel="icon" href="/resources/src/img/icon/tsora.png">
	<script type="text/javascript" src="../vendor/require/require.min.js"></script>
	<script type="text/javascript" src="../src/js/require-main.js"></script>
	<style type="text/css">
		/*//123123*/
	table>tbody>tr{cursor: pointer;}
</style>
</head>
<body style="background-color: #cccccc;" ng-controller="bodyCtrl">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<ol class="breadcrumb">
					<li onclick="window.location.reload();"><a href="">RootDirectory</a></li>
					<li ng-repeat="(index,breadcrumbs) in breadcrumbs" ng-if="index>0" ng-click="open_project_floder(index,breadcrumbs)"><a href="#">{{breadcrumbs}}</a></li>
				</ol>
				<table class="table table-hover table-striped table-bordered">
					<thead>
						<tr>
							<th class="text-center">Type</th>
							<th class="text-center">Name</th>
							<th class="text-center">Create</th>
							<th class="text-center">Visit</th>
							<th class="text-center">Update</th>
							<th class="text-center">State</th>
						</tr>
					</thead>
					<tbody>
						<tr class="info" ng-repeat="(index,catalog) in catalog" ng-click="open_project_floder(catalog.tree,catalog.filename)" ng-if="catalog.filetype=='dir'">
							<td class="text-center"><i class="fa fa-folder"></i></td>
							<td class="text-center">{{catalog.filename}}</td>
							<td class="text-center">{{catalog.createtime}}</td>
							<td class="text-center">{{catalog.visittime}}</td>
							<td class="text-center">{{catalog.updatetime}}</td>
							<td class="text-center">None</td>
						</tr>
						<tr class="success" ng-repeat="(index,catalog) in catalog" ng-if="catalog.filetype!=='dir'">
							<td class="text-center"><i ng-class="{true:'fa fa-folder',false:'fa fa-file'}[catalog.filetype=='dir']"></i></td>
							<td class="text-center">{{catalog.filename}}</td>
							<td class="text-center">{{catalog.createtime}}</td>
							<td class="text-center">{{catalog.visittime}}</td>
							<td class="text-center">{{catalog.updatetime}}</td>
							<td class="text-center" ng-class="{true:'danger'}[catalog.sqlData==undefined]">
								<button class="btn btn-xs" ng-if="catalog.sqlData==undefined" ng-click="insertFileInfo(index)">Insert</button>
								<span ng-if="catalog.sqlData!==undefined">None</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-sm-12">
				
			</div>
			
			<div class="col-sm-3" ng-repeat="catalog in catalog" ng-if="catalog.filetype=='dir'">
				<div class="thumbnail" >
					<img src="/back-stage/src/img/tsora-icon-1.png" alt="..." height="50px" width="30%">
					<div class="caption">
						<h3 class="text-right" ng-click="open_project_floder(catalog.tree,catalog.filename)"><a href="#">{{catalog.filename}}</a></h3>
						<p class="small">{{catalog.createtime|limitTo:10}}//{{catalog.updatetime|limitTo:10}}//{{catalog.visittime|limitTo:10}}</p>
						<ul class="list-inline">
							<li><a href="/{{catalog.filename}}/"><i class="glyphicon glyphicon-link"></i></a></li>
						</ul>
					</div>

				</div>
			</div>
		</div> -->
		<!-- <div class="row" style="display: none;">
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
					<li ng-repeat="catalog in catalog" ng-click="open_project_floder(catalog.tree,catalog.filename)"><a href="#" >{{catalog.filename}}</a></li>
					<li role="presentation" ng-repeat="dir in floder_dir" ng-click="open_project_floder(dir.tree,dir.dirname)"><a href="#" class="glyphicon glyphicon-folder-open">&nbsp;{{dir.dirname}}</a></li>
					<li role="presentation" ng-repeat="file in floder_file" ng-click="open_project_file(file.filename)"><a href="#" class="glyphicon glyphicon-file">&nbsp;{{file.filename}}</a></li>
				</ul>
			</div>
			<div class="col-md-10">
				<pre id="editor" class="" style="height: calc(100vh - 140px);" disabled></pre>
			</div>
		</div>	 -->
	</div>


	<script type="text/javascript">
		require(["bootstrap","angular"],function(bootstrap,angular){
			var htmlCtrl=$('[ng-controller="htmlCtrl"]');
			var bodyCtrl=$('[ng-controller="bodyCtrl"]');
			if(bodyCtrl.scope==undefined||htmlCtrl.scope==undefined){
				window.location.reload();
				 // window.location.replace("/back-stage/views/files.html"); 
			}
			bodyCtrl.scope().updateTree=function(int){
				// console.log(int);
				bodyCtrl.scope().catalog.forEach(function(value,key){
					bodyCtrl.scope().catalog[key].tree=int;
					if(value.filetype!=="dir"){
						bodyCtrl.scope().catalog[key].sqlData=$.parseJSON(callAPI("res","getfileinfo",bodyCtrl.scope().breadcrumbs.join("/")+"/"+value.filename))[0];
					}
					// console.log(bodyCtrl.scope().breadcrumbs.join("/")+"/"+value.filename);
				})
			}
			bodyCtrl.scope().breadcrumbs=[];

			bodyCtrl.scope().open_project_floder=function(tree,filename){

				// console.log(tree);
				// console.log(bodyCtrl.scope().breadcrumbs.length);
				if(tree==bodyCtrl.scope().breadcrumbs.length){
					bodyCtrl.scope().breadcrumbs.push(filename);

				}else{
					for(var i=2;i<=bodyCtrl.scope().breadcrumbs.length-tree;i++){
						bodyCtrl.scope().breadcrumbs.pop();
						tree--;
					}
					// console.log(bodyCtrl.scope().breadcrumbs.length-tree);
					// console.log(bodyCtrl.scope().breadcrumbs);
				}
				fileurl=bodyCtrl.scope().breadcrumbs.join("/")+"/";
				// console.log(callAPI("fie","openfolder",fileurl));
				bodyCtrl.scope().catalog=$.parseJSON(callAPI("fie","openfolder",fileurl));
				// console.log(bodyCtrl.scope().catalog);
				bodyCtrl.scope().updateTree(tree+1);
				
			}
			bodyCtrl.scope().open_project_floder(0,"");

			bodyCtrl.scope().insertFileInfo=function(index){
				// console.log(index);
				bodyCtrl.scope().catalog[index].fileurl=bodyCtrl.scope().breadcrumbs.join("/")+"/"+bodyCtrl.scope().catalog[index].filename;
				// bodyCtrl.scope().catalog[index].content=callAPI("fie","openfile",fileurl);
				// console.log(fileurl);
				// console.log(callAPI("fie","readfilecontent",fileurl));
				// console.log(bodyCtrl.scope().catalog[index]);
				var result=callAPI("res","insertfileinfo",JSON.stringify(bodyCtrl.scope().catalog[index]));
				if(result=="1"){
					htmlCtrl.scope().alert("success","文件信息插入成功");
				}
			}
			bodyCtrl.scope().$apply();
		})
	</script>

</body>
</html>