<!DOCTYPE html>
<html lang="en" ng-controller="htmlCtrl">
<head>
	<meta charset="UTF-8">
	<title>开发报告管理</title>
	<link rel="icon" href="/resources/src/img/icon/tsora.png">
	<script type="text/javascript" src="/resources/vendor/require/2.3.5/require.min.js"></script>
	<script type="text/javascript" src="/resources/src/js/require-config.js"></script>
	<style>ul.list-inline{margin-bottom:0px!important;}</style>
</head>
<body ng-controller="bodyCtrl">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4 class="text-center">页面进度管理</h4>
				<hr>
				<form class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-12">
							<select class="form-control" ng-model="fileurl" ng-options="file.fileurl as file.fileurl for file in files" ng-change="getFileInfo()">
								<option value="">-- 选择路径文件 --</option>
							</select>
						</div>
					</div>
				</form>
				<h4 class="text-center">描述</h4>
				<form class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-12">
							<input class="form-control" type="text" ng-model="fileinfo.description">
						</div>
					</div>
				</form>
				<h4 class="text-center">设置思路</h4>
				<table class="table">
					<thead>
						<tr class="text-center">
							<th class="text-center">编号</th>
							<th class="text-center">思路</th>
							<th class="text-center">状态</th>
							<th class="text-center">编辑</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(index,thinking) in fileinfo.report.thinking">
							<td class="text-center">{{index+1}}</td>
							<td><input class="form-control" type="text" ng-model="thinking.think"></td>
							<td>
								<select class="form-control" ng-model="thinking.result" ng-options="result as result for result in ['success','failed','none']"></select>
							</td>
							<td class="text-center">
								<div class="btn-group">
									<button type="button" class="btn btn-link" ng-click="editReport('thinking',index)" disabled=""><i class="glyphicon glyphicon-edit"></i></button>
									<button type="button" class="btn btn-link" ng-click="deleteReport('thinking',index)"><i class="glyphicon glyphicon-trash"></i></button>
									<button type="button" class="btn btn-link" ng-click="upReport('thinking',index)" ng-disabled="index==0">
										<i class="glyphicon glyphicon-arrow-up"></i>
									</button>
									<button type="button" class="btn btn-link" ng-click="downReport('thinking',index)" ng-disabled="index=={{fileinfo.report.thinking.length-1}}"><i class="glyphicon glyphicon-arrow-down"></i></button>
								</div>
							</td>
						</tr>
						<tr>
							<td class="text-center" colspan="4"><button class="form-control btn btn-info" ng-click="addReport('thinking')"><i class="glyphicon glyphicon-plus"></i></button></td>
						</tr>
					</tbody>
				</table>
				<hr>
				<h4 class="text-center">开发报告</h4>
				<table class="table">
					<thead>
						<tr class="text-center">
							<th class="text-center">编号</th>
							<th class="text-center">开发步骤</th>
							<th class="text-center">知识技术</th>
							<th class="text-center">完成状态</th>
							<th class="text-center">存在问题</th>
							<th class="text-center">编辑</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(index,development) in fileinfo.report.development">
							<td class="text-center">{{index+1}}</td>
							<td><input class="form-control" type="text" ng-model="development.step"></td>
							<td><input class="form-control" type="text" ng-model="development.skill"></td>
							<td>
								<select class="form-control" ng-model="development.state" ng-options="state as state for state in ['success','failed','none']"></select>
							</td>
							<td>
								<select class="form-control" ng-model="development.isbug" ng-options="isbug as isbug for isbug in ['yes','no']">
							</td>
							<td class="text-center">
								<div class="btn-group">
									<button type="button" class="btn btn-link" ng-click="editReport('development',index)" disabled=""><i class="glyphicon glyphicon-edit"></i></button>
									<button type="button" class="btn btn-link" ng-click="deleteReport('development',index)"><i class="glyphicon glyphicon-trash"></i></button>
									<button type="button" class="btn btn-link" ng-click="upReport('development',index)" ng-disabled="index==0">
										<i class="glyphicon glyphicon-arrow-up"></i>
									</button>
									<button type="button" class="btn btn-link" ng-click="downReport('development',index)" ng-disabled="index=={{fileinfo.report.development.length-1}}"><i class="glyphicon glyphicon-arrow-down"></i></button>
								</div>
							</td>
						</tr>
						<tr>
							<td class="text-center" colspan="6"><button class="form-control btn btn-info" ng-click="addReport('development')"><i class="glyphicon glyphicon-plus"></i></button></td>
						</tr>
					</tbody>
				</table>
				<hr>
				<h4 class="text-center">BUG反馈</h4>
				<table class="table">
					<thead>
						<tr class="text-center">
							<th class="text-center">编号</th>
							<th class="text-center">BUG描述</th>
							<th class="text-center">状况分析</th>
							<th class="text-center">操作步骤</th>
							<th class="text-center">反馈结果</th>
							<th class="text-center">编辑</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(index,feedback) in fileinfo.report.feedback">
							<td class="text-center">{{index+1}}</td>
							<td><input class="form-control" type="text" ng-model="feedback.description"></td>
							<td><input class="form-control" type="text" ng-model="feedback.analysis"></td>
							<td><input class="form-control" type="text" ng-model="feedback.action"></td>
							<td><input class="form-control" type="text" ng-model="feedback.result"></td>
							<td class="text-center">
								<div class="btn-group">
									<button type="button" class="btn btn-link" ng-click="editReport('feedback',index)" disabled=""><i class="glyphicon glyphicon-edit"></i></button>
									<button type="button" class="btn btn-link" ng-click="deleteReport('feedback',index)"><i class="glyphicon glyphicon-trash"></i></button>
									<button type="button" class="btn btn-link" ng-click="upReport('feedback',index)" ng-disabled="index==0">
										<i class="glyphicon glyphicon-arrow-up"></i>
									</button>
									<button type="button" class="btn btn-link" ng-click="downReport('feedback',index)" ng-disabled="index=={{fileinfo.report.feedback.length-1}}"><i class="glyphicon glyphicon-arrow-down"></i></button>
								</div>
							</td>
						</tr>
						<tr>
							<td class="text-center" colspan="6"><button class="form-control btn btn-info" ng-click="addReport('feedback')"><i class="glyphicon glyphicon-plus"></i></button></td>
						</tr>
					</tbody>
				</table>
				<hr>
				<form class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-12">
							<button class="form-control btn btn-primary" ng-click="updateFileInfo()">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">

		require(["ini-angular"],function(){

			var bodyCtrl=$(`[ng-controller="bodyCtrl"]`);
			var htmlCtrl=$(`[ng-controller="htmlCtrl"]`);
			if(bodyCtrl.scope==undefined||htmlCtrl.scope==undefined){
				window.location.reload();
			}
			// console.log(htmlCtrl.scope().ini);

			bodyCtrl.scope().files=$.parseJSON(callAPI("res","getallfileurl"));
			// console.log(bodyCtrl.scope().files);
			bodyCtrl.scope().getFileInfo=function(){
				// console.log($.parseJSON(callAPI("res","getfileinfo",bodyCtrl.scope().fileurl))[0]);
				// console.log(bodyCtrl.scope().fileurl);
				if(bodyCtrl.scope().fileurl!==null){
					bodyCtrl.scope().fileinfo=$.parseJSON(callAPI("res","getfileinfo",bodyCtrl.scope().fileurl))[0];
					if(bodyCtrl.scope().fileinfo.report!==""){
						bodyCtrl.scope().fileinfo.report=$.parseJSON(bodyCtrl.scope().fileinfo.report);
					}
					htmlCtrl.scope().ini.loadAlertTemplate("success","文件信息加载完成"+bodyCtrl.scope().fileurl);
				}else{
					bodyCtrl.scope().fileinfo={};
				}
				

				// console.log(bodyCtrl.scope().fileinfo);

			}
			bodyCtrl.scope().updateFileInfo=function(){
				if(bodyCtrl.scope().fileurl==undefined){
					console.log("Error");
				}else if(bodyCtrl.scope().fileurl==null){
					console.log("Error");
				}else{
					callAPI("res","updatefileinfo",JSON.stringify(bodyCtrl.scope().fileinfo));
					bodyCtrl.scope().getFileInfo();
				}
			}

			bodyCtrl.scope().editReport=function(type,index){
				// console.log(type);
				// console.log(index);
				switch(type){
					case "thinking":{
						break;
					};
					case "development":{
						break;
					};
					case "feedback":{
						break;
					};
					default:break;
				}
			}
			bodyCtrl.scope().addReport=function(type){
				// console.log(type);
				if(bodyCtrl.scope().fileurl==undefined){
					console.log("Error");
				}else if(bodyCtrl.scope().fileurl==null){
					console.log("Error");
				}else{
					switch(type){
						case "thinking":{
							bodyCtrl.scope().fileinfo.report.thinking.push({think:"",result:""});
							console.log(bodyCtrl.scope().fileinfo.report.thinking);
							break;
						};
						case "development":{
							bodyCtrl.scope().fileinfo.report.development.push({step:"",skill:"",state:"",isbug:""});
							break;
						};
						case "feedback":{
							bodyCtrl.scope().fileinfo.report.feedback.push({description:"",analysis:"",action:"",result:""});
							break;
						};
						default:break;
					}
				}
				
			}
			bodyCtrl.scope().deleteReport=function(type,index){
				// console.log(type);
				if(bodyCtrl.scope().fileurl==undefined){
					console.log("Error");
				}else if(bodyCtrl.scope().fileurl==null){
					console.log("Error");
				}else{
					switch(type){
						case "thinking":{
							bodyCtrl.scope().fileinfo.report.thinking.splice(index,1);
							// console.log(bodyCtrl.scope().fileinfo.report.thinking);
							break;
						};
						case "development":{
							bodyCtrl.scope().fileinfo.report.development.splice(index,1);
							break;
						};
						case "feedback":{
							bodyCtrl.scope().fileinfo.report.feedback.splice(index,1);
							break;
						};
						default:break;
					}
				}
				
			}
			bodyCtrl.scope().upReport=function(type,index){
				// console.log(type);
				if(bodyCtrl.scope().fileurl==undefined){
					console.log("Error");
				}else if(bodyCtrl.scope().fileurl==null){
					console.log("Error");
				}else{
					var report;
					switch(type){
						case "thinking":{
							// console.log(index);
							report=bodyCtrl.scope().fileinfo.report.thinking[index];
							report_rep=bodyCtrl.scope().fileinfo.report.thinking[index-1];
							// console.log(report);
							// console.log(report_rep);
							bodyCtrl.scope().fileinfo.report.thinking[index]=report_rep;
							bodyCtrl.scope().fileinfo.report.thinking[index-1]=report;
							// bodyCtrl.scope().fileinfo.report.thinking.splice(index,1);
							// console.log(bodyCtrl.scope().fileinfo.report.thinking);
							break;
						};
						case "development":{
							report=bodyCtrl.scope().fileinfo.report.development[index];
							report_rep=bodyCtrl.scope().fileinfo.report.development[index-1];
							// console.log(report);
							// console.log(report_rep);
							bodyCtrl.scope().fileinfo.report.development[index]=report_rep;
							bodyCtrl.scope().fileinfo.report.development[index-1]=report;
							break;
						};
						case "feedback":{
							report=bodyCtrl.scope().fileinfo.report.feedback[index];
							report_rep=bodyCtrl.scope().fileinfo.report.feedback[index-1];
							// console.log(report);
							// console.log(report_rep);
							bodyCtrl.scope().fileinfo.report.feedback[index]=report_rep;
							bodyCtrl.scope().fileinfo.report.feedback[index-1]=report;
							break;
						};
						default:break;
					}
				}
				
			}
			bodyCtrl.scope().downReport=function(type,index){
				// console.log(type);
				if(bodyCtrl.scope().fileurl==undefined){
					console.log("Error");
				}else if(bodyCtrl.scope().fileurl==null){
					console.log("Error");
				}else{
					var report;
					switch(type){
						case "thinking":{
							report=bodyCtrl.scope().fileinfo.report.thinking[index];
							report_rep=bodyCtrl.scope().fileinfo.report.thinking[index+1];
							// console.log(report);
							// console.log(report_rep);
							bodyCtrl.scope().fileinfo.report.thinking[index]=report_rep;
							bodyCtrl.scope().fileinfo.report.thinking[index+1]=report;
							break;
						};
						case "development":{
							report=bodyCtrl.scope().fileinfo.report.development[index];
							report_rep=bodyCtrl.scope().fileinfo.report.development[index+1];
							// console.log(report);
							// console.log(report_rep);
							bodyCtrl.scope().fileinfo.report.development[index]=report_rep;
							bodyCtrl.scope().fileinfo.report.development[index+1]=report;
							break;
						};
						case "feedback":{
							report=bodyCtrl.scope().fileinfo.report.feedback[index];
							report_rep=bodyCtrl.scope().fileinfo.report.feedback[index+1];
							// console.log(report);
							// console.log(report_rep);
							bodyCtrl.scope().fileinfo.report.feedback[index]=report_rep;
							bodyCtrl.scope().fileinfo.report.feedback[index+1]=report;
							break;
						};
						default:break;
					}
				}
				
			}

			bodyCtrl.scope().$apply();
		})


	</script>
</body>
</html>