<!DOCTYPE html>
<html lang="en" ng-controller="htmlCtrl">
<head>
	<meta charset="UTF-8">
	<title>工具库</title>
	<link rel="icon" href="/resources/src/img/icon/tsora.png">
	<script type="text/javascript" src="/resources/vendor/require/2.3.5/require.min.js"></script>
	<script type="text/javascript" src="/resources/src/js/require-config.js"></script>
	<style>
		
	</style>
</head>
<body>
	<div class="container">
		<div class="row" id="masonry">
			<div class="col-sm-3" ng-repeat="(index,list) in toolslist" ng-if="list.filetype=='dir'&&list.filename!=='.git'">
				<div class="thumbnail">
					<div class="caption">
						<h4 class="text-center"><strong>{{list.filename}}</strong></h4>
						<hr>
						<ul class="list-unstyled">
							<li ng-repeat="tool in list.tools" ng-if="tool.filetype=='file'"><a href="/tools/{{list.filename}}/{{tool.filename}}">{{tool.filename|filterName}}</a></li>
						</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		require(["initialize","angular","masonry","lodash"],function(ini,angular,Masonry,_){
			var htmlApp=angular.module("htmlApp",[]);
			htmlApp.config(function($httpProvider){
				$httpProvider.defaults.headers.post = { 'Content-Type': 'application/x-www-form-urlencoded' }
			})
			htmlApp.filter('filterName',function(){
				return function(filename){
					return getFileName(filename);
				}
			});
			var htmlCtrl=htmlApp.controller("htmlCtrl",function($scope){
				$scope.ini=ini;
				$scope.toolslist=callAPI("/directory/opendir",'{"dir":"/tools"}').text;
				// console.log($scope.toolslist);
				_.forEach($scope.toolslist,function(value,key){
					if(value.filetype!=="file"){
						$scope.toolslist[key].tools=callAPI("/directory/opendir",'{"dir":"/tools/'+$scope.toolslist[key].filename+'"}').text;
					}
				})
			})
			angular.bootstrap(document, ["htmlApp"]);

			new Masonry('#masonry',{
				itemSelector: '.col-sm-3'
			});
		})
		
	</script>
</body>
</html>