<div class="container-fluid" ng-controller="mysql">
  <div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-pills nav-justified">
      <li role="presentation" class="active"><a href="#connect" aria-controls="home" role="tab" data-toggle="tab">MySQL Connect</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">MySQL DataBase</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
      <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="connect">
        <h3 class="text-info text-center"> MySQL Connect</h3>
        <form>
          <div class="form-group">
            <label>Host</label>
            <input type="text" class="form-control" ng-model="cfg.mysql.host">
          </div>
          <div class="form-group">
            <label>UserName</label>
            <input type="text" class="form-control" ng-model="cfg.mysql.username">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="cfg.mysql.password">
          </div>
          <div class="form-group" ng-if="cfg.mysql.connect=='Success'">
            <label>dbname</label>
            <select name="" id="" class="form-control" ng-model="cfg.mysql.dbname" ng-options="x for x in cfg.mysql.dblist">
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default" ng-click="connect()">Connect</button>
            <button type="submit" class="btn btn-default" ng-click="updateFile('/resource/config.json',cfg)">Save</button>
          </div>
        </form>


      </div>

      <div role="tabpanel" class="tab-pane" id="profile">2</div>
      <div role="tabpanel" class="tab-pane" id="messages">3</div>
      <div role="tabpanel" class="tab-pane" id="settings">4</div>
    </div>

  </div>
  <div class="well" ng-if="cfg.mysql.design">
    <h4>Logic Design</h4>
    <p>Connect:测试链接服务器->>成功保存数据/失败warning</p>
    <p>DataBase:管理数据库中表</p>
  </div>
</div>

<script type="text/javascript">
  tsora.controller("mysql",function($scope,$http,$timeout){


    $scope.connect=function(){
    // console.log($('html[ng-controller="htmlCtrl"]').scope().cfg.mysql);
    // console.log($('html[ng-controller="htmlCtrl"]').scope().cfg.mysql);
    $('html[ng-controller="htmlCtrl"]').scope().cfg.mysql.connect="Loading";
    $('html[ng-controller="htmlCtrl"]').scope().cfg.alert.type="info";
    $('html[ng-controller="htmlCtrl"]').scope().cfg.alert.message="链接服务器中。。。";


    $http({
      method:"post",
      url:"/resource/action/eval.php",
      data:$.param({
        "host":$('html[ng-controller="htmlCtrl"]').scope().cfg.mysql.host,
        "username":$('html[ng-controller="htmlCtrl"]').scope().cfg.mysql.username,
        "password":$('html[ng-controller="htmlCtrl"]').scope().cfg.mysql.password,
        "code":`
        $host=$_POST["host"];
        $username=$_POST["username"];
        $password=$_POST["password"];
        echo gettype(connect_mysql($host,$username,$password));
        `
      })
    }).then(function(response){
      // console.log(response.data);
      if(response.data=="object"){
        $('html[ng-controller="htmlCtrl"]').scope().cfg.mysql.connect="Success";
        $('html[ng-controller="htmlCtrl"]').scope().cfg.alert.type="success";
        $('html[ng-controller="htmlCtrl"]').scope().cfg.alert.message="链接服务器成功";

      }else{
        console.log(1);
        $('html[ng-controller="htmlCtrl"]').scope().cfg.mysql.connect="Failed";
        $('html[ng-controller="htmlCtrl"]').scope().cfg.alert.type="danger";
        $('html[ng-controller="htmlCtrl"]').scope().cfg.alert.message="链接服务器失败";
      }
    })
  }

  //重写alert
  $('html[ng-controller="htmlCtrl"]').scope().alert=function(string){
    if(string==="success"){
      if($('html[ng-controller="htmlCtrl"]').scope().cfg.alert.message==="链接服务器成功"){
        // 保存数据
        $('html[ng-controller="htmlCtrl"]').scope().updateFile("/resource/config.json",JSON.stringify($('html[ng-controller="htmlCtrl"]').scope().cfg));
        // console.log(123);
      }else if($('html[ng-controller="htmlCtrl"]').scope().cfg.alert.message==="/resource/config.json文件内容更新成功"){
        $('html[ng-controller="htmlCtrl"]').scope().cfg.alert.type="info";
        $('html[ng-controller="htmlCtrl"]').scope().cfg.alert.message="获取数据库列表中...";
        // 获取数据库列表
        $http({
          method:"post",
          url:"/resource/action/eval.php",
          data:$.param({
            "code":`
            $contents=file_get_contents($_SERVER['DOCUMENT_ROOT']."/resource/config.json");
            // echo $contents;
            $json=json_decode($contents)->mysql;
            // var_dump($json);
            $link=connect_mysql($json->host,$json->username,$json->password);
            echo json_encode(show_dbname($link));
            `
          })
        }).then(function(response){
          $('html[ng-controller="htmlCtrl"]').scope().cfg.mysql.dblist=response.data;
          $('html[ng-controller="htmlCtrl"]').scope().cfg.alert.type="success";
          $('html[ng-controller="htmlCtrl"]').scope().cfg.alert.message="数据库列表获取成功";

        })
      }
    }else if(string==="info"){

    }else if(string==="warning"){

    }else if(string==="danger"){

    }
  }

  
})
</script>