<!DOCTYPE html>
<html lang="en" ng-app="htmlApp" ng-controller="htmlCtrl">
<head>
	<meta charset="UTF-8">
	<title>Execl文件转JSON工具</title>
	<link rel="icon" href="/resources/src/img/icon/tsora.png">
	<script type="text/javascript" src="/resources/vendor/require/2.3.5/require.min.js"></script>
	<script type="text/javascript" src="/resources/src/js/require-config.js"></script>
</head>
<body>
	<div class="container" id="bodyVue">
		<div class="row">
			<div class="col-md-12">
				<h1>Execl文件转JSON工具</h1>
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">File input</label>
						<div class="col-sm-10">
							<input type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" onchange="importf(this)" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<label class="radio-inline" v-for="(s,index) in sheet">
								<input type="radio" name="inlineRadioOptions" v-bind:value="index" v-model="picked">{{s}}
							</label>
						</div>
					</div>

					<textarea class="form-control" rows="10" id="demo" style="resize:none;height: calc(100vh - 200px);" readonly></textarea>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		require(["initialize","bootstrap","vue","xlsx"],function(ini,bootstrap,Vue){
			var bodyVue=new Vue({
				el:"#bodyVue",
				data:{
					sheet:[],
					picked:""
				},
				created: function () {
					// console.log('a is: ' + this.picked);
				},
				watch:{
					picked:function(newvalue){
						// console.log(newvalue);
						document.getElementById("demo").innerHTML= JSON.stringify( XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[newvalue]]) );

					}
				}
				

			})


			
        })

        /*
	        ** FileReader共有4种读取方法：
	        ** 1.readAsArrayBuffer(file)：将文件读取为ArrayBuffer。
	        ** 2.readAsBinaryString(file)：将文件读取为二进制字符串
	        ** 3.readAsDataURL(file)：将文件读取为Data URL
	        ** 4.readAsText(file, [encoding])：将文件读取为文本，encoding缺省值为'UTF-8'
	        */
	        var wb;//读取完成的数据
	        var rABS = false; //是否将文件读取为二进制字符串

	        var importf=function(obj) {//导入
	        	// console.log(obj);
	        	if(!obj.files) {
	        		return;
	        	}
	        	var f = obj.files[0];
	        	var reader = new FileReader();
	        	reader.onload = function(e) {
	        		var data = e.target.result;
	        		if(rABS) {
	                    wb = XLSX.read(btoa(fixdata(data)), {//手动转化
	                    	type: 'base64'
	                    });
	                } else {
	                	wb = XLSX.read(data, {
	                		type: 'binary'
	                	});
	                }
	                //wb.SheetNames[0]是获取Sheets中第一个Sheet的名字
	                //wb.Sheets[Sheet名]获取第一个Sheet的数据
	                bodyVue.sheet=wb.SheetNames;
	                bodyVue.picked=0;
	                document.getElementById("demo").innerHTML= JSON.stringify( XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]]) );
	            };
	            if(rABS) {
	            	reader.readAsArrayBuffer(f);
	            } else {
	            	reader.readAsBinaryString(f);
	            }
	        }

            function fixdata(data) { //文件流转BinaryString
            	var o = "",
            	l = 0,
            	w = 10240;
            	for(; l < data.byteLength / w; ++l) o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w, l * w + w)));
            		o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w)));
            	return o;
            }
    </script>

</body>
</html>