<!DOCTYPE html>
<html lang="en" ng-controller="htmlCtrl">
<head>
	<meta charset="UTF-8">
	<title>文件工具</title>
	<link rel="icon" href="/resources/src/img/icon/tsora.png">
	<script type="text/javascript" src="/resources/vendor/require/2.3.5/require.min.js"></script>
	<script type="text/javascript" src="/resources/src/js/require-config.js"></script>
</head>
<body style="background-color: #cccccc;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li ng-click="get_poject_catalog()"><a href="">GitHub</a></li>
					<li ng-repeat="(index,breadcrumbs) in breadcrumbs" ng-click="open_project_floder(index,breadcrumbs)"><a href="#">{{breadcrumbs}}</a></li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="list-group" ng-repeat="catalog in catalog" ng-if="catalog.filetype=='dir'">
					<li href="#" class="list-group-item">
						<h3 class="list-group-item-heading" ng-click="open_project_floder(catalog.tree,catalog.filename)"><a href="#">{{catalog.filename}}</a></h3>
						<ul class="list-inline">
							<li><a href="/{{catalog.filename}}/"><i class="glyphicon glyphicon-link"></i></a></li>
							<li><i class="glyphicon glyphicon-grain">{{catalog.createtime|limitTo:10}}</i></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="row" style="display: none;">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation" ng-repeat="dir in floder_dir" ng-click="open_project_floder(dir.tree,dir.filename)" ng-if="dir.filetype=='dir'">
						<a href="#" class="glyphicon glyphicon-folder-open">&nbsp;{{dir.filename}}</a>
					</li>
					<li role="presentation" ng-repeat="file in floder_dir" ng-click="open_project_file(file.filename)" ng-if="file.filetype=='file'">
						<a href="#" class="glyphicon glyphicon-file">&nbsp;{{file.filename}}</a>
					</li>
				</ul>
			</div>
			<div class="col-md-9">
				<pre id="editor" class="" style="height: calc(100vh - 140px);" disabled></pre>
			</div>
		</div>	
	</div>

	<script type="text/javascript">
		require(["jquery","bootstrap","ace","showdown","angular"],function($,bootstrap,ace,showdown,angular){

			var htmlApp=angular.module("htmlApp",[]);

			htmlApp.config(function($httpProvider){
				$httpProvider.defaults.headers.post = { 'Content-Type': 'application/x-www-form-urlencoded' }
			})

			htmlApp.controller("htmlCtrl",function($http,$scope,$sce){
				// 页面加载运行的方法
				// 获取项目目录
				// tree 代表树的深度
				$scope.get_poject_catalog=function(){
					$scope.catalog=$.parseJSON(callAPI("fie","openfolder","/"));
					$scope.catalog.forEach(function(value,index){
						$scope.catalog[index].tree=0;
					})
					$scope.breadcrumbs=[];
					$scope.control_row_is_show(1);

				}
				// 控制row的显示隐藏
				$scope.control_row_is_show=function(index){
					$("div.row").css({display:"none"});
					$("div.row").eq(0).css({display:"block"});
					$("div.row").eq(index).css({display:"block"});
				}

				$scope.get_poject_catalog();

				// 打开项目文件列表
				// 判断树的深度与导航数量？若相等：tree++,不相等：截取导航
				$scope.open_project_floder=function(index,dir){
					// console.log(parseInt(index));
					// console.log(dir);
					// console.log($scope.breadcrumbs.length);
					// console.log("/"+$scope.breadcrumbs.join("/")+"/"+url+"/");

					if(parseInt(index)==$scope.breadcrumbs.length){
						index++;
						$scope.floder_dir=$.parseJSON(callAPI("fie","openfolder","/"+$scope.breadcrumbs.join("/")+"/"+dir+"/"));
						$scope.floder_dir.forEach(function(value,ind){
							$scope.floder_dir[ind].tree=index;
						})
						$scope.breadcrumbs[index-1]=dir;

					}else{
						$scope.breadcrumbs=$scope.breadcrumbs.slice(0,index);
						$scope.open_project_floder(index,dir);
					}


					$scope.control_row_is_show(2);


				}

				// 显示文件内容
				$scope.open_project_file=function(url){
					// console.log(url);
					// 判断文件类型
					var type = url.slice(url.lastIndexOf(".")+1).toLowerCase();
					// console.log(type);
					ace.require("ace/ext/language_tools");

					var editor = ace.edit("editor");
					editor.setTheme("ace/theme/chrome");

					switch(type){
						case "html":case "htm":{
							editor.session.setMode("ace/mode/html");
							break;
						};
						case "js":{
							editor.session.setMode("ace/mode/javascript");
							break;
						};
						case "css":{
							editor.session.setMode("ace/mode/css");
							break;
						};
						case "json":{
							editor.session.setMode("ace/mode/json");
							break;
						};
						case "md":{
							editor.session.setMode("ace/mode/markdown");
							break;
						};
						default:{
							// console.log("switch");
							break;
						};

					}

					document.getElementById("editor").env.editor.setValue(callAPI("fie","readfilecontent","/"+$scope.breadcrumbs.join("/")+"/"+url),1)

				}




			})
			angular.bootstrap(document, ["htmlApp"]);

		})
		

	</script>

</body>
</html>