<!DOCTYPE html>
<html lang="en" ng-controller="htmlCtrl">
<head>
	<meta charset="UTF-8">
	<title>{{ config.name | uppercase }}</title>
	<link rel="icon" href="/resources/src/img/icon/tsora.png">
	<script type="text/javascript" src="/resources/vendor/require/2.3.5/require.min.js"></script>
	<script type="text/javascript" src="/resources/src/js/require-config.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1>AJAX测试工具</h1>
			</div>
			<div class="col-md-5">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">method</label>
						<div class="col-sm-10">
							<select class="form-control" ng-model="option.method" ng-options="x for x in  ['GET','POST']">
							</select>
						</div>
						
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">URL</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" placeholder="URL" ng-model="option.url">
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">Data</label>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">Async</label>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">DataType</label>
					</div>
					<div class="form-group">
						<div class="col-md-12">
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-2">
				<div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
					<button type="button" class="btn btn-default" ng-click="ajax()">Submit</button>
				</div>
			</div>
			<div class="col-md-5">
				<form class="form-horizontal">
					<textarea class="form-control" rows="10" style="resize:none;height: calc(100vh - 175px);" readonly="">{{ option.result }}</textarea>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		require(["initialize","bootstrap","angular"],function(ini,bootstrap,angular){
			var htmlApp=angular.module('htmlApp',[]);
			var defaultsOption={
				method:"POST",
				url:"",
				data:{},
				async:true,
				result:"Ajax返回的结果"
			}
			var cfg={
				"name":"ajax test",
				"version":"0.0.1",
				"main":"index.html"
			}

			htmlApp.controller('htmlCtrl',function($scope,$http){
				$scope.option=defaultsOption;
				$scope.config=cfg;

				$scope.ajax=function(){
					$http({
						method:this.option.method,
						url:this.option.url,
						data:this.option.data
					}).then(function(response){
						$scope.option.result=response.data;
					})
				}
			})
			angular.bootstrap(document, ["htmlApp"]);
		})
		
	</script>
	<script>
	</script>
</body>
</html>