<div id="{{wrapper @root.path}}" class="container">
  <h2>{{name}} <small>{{description}}</small></h2>
  <div class="ln-todolist-container">
    <div class="ln-todolist-group">
      <div class="ln-todolist-item">
        <input type="checkbox"/>
        <label>待办事项001</label>
      </div>
      <div class="ln-todolist-item">
        <input type="checkbox"/> <label>待办事项002</label>
      </div>
      <div class="ln-todolist-item">
        <input type="checkbox"/> <label>待办事项003</label>
      </div>
      <div class="ln-todolist-item">
        <input type="checkbox"/> <label>待办事项004</label>
      </div>
      <div class="ln-todolist-item">
        <input type="checkbox"/> <label>待办事项005</label>
      </div>
    </div>
  </div>
</div>
