<div id="{{wrapper @root.path}}" class="container">
  <h2>{{name}} <small>{{description}}</small></h2>
  <div>
    <div class="ln-radio-container">
      <input id="exampleRadio1" name="example" class="ln-radio-input" type="radio">
      <label for="exampleRadio1" class="ln-radio-label"> One </label>
    </div>
    <div class="ln-radio-container">
      <input id="exampleRadio2" name="example" class="ln-radio-input" type="radio">
      <label for="exampleRadio2" class="ln-radio-label"> Two </label>
    </div>
    <div class="ln-radio-container">
      <input id="exampleRadio3" name="example" class="ln-radio-input" type="radio">
      <label for="exampleRadio2" class="ln-radio-label"> Three </label>
    </div>
  </div>
  <pre>
radio-container               # 单选框容器
 ├─radio-input                # 原始单选框
 └─radio-label                # 单选框文本容器
  </pre>
</div>
