<div id="{{wrapper @root.path}}" class="ln-masonry-container">
  <div class="ln-row">
    <div class="ln-col">
      <div style="margin-bottom: 10px;width: 100%;height: 300px;background-color: darkred;"></div>
      <div style="margin-bottom: 10px;width: 100%;height: 300px;background-color: darkred;"></div>
      <div style="margin-bottom: 10px;width: 100%;height: 300px;background-color: darkred;"></div>
      <div style="margin-bottom: 10px;width: 100%;height: 300px;background-color: darkred;"></div>
    </div>
    <div class="ln-col">
      <div style="margin-bottom: 10px;width: 100%;height: 250px;background-color: darkred;"></div>
      <div style="margin-bottom: 10px;width: 100%;height: 250px;background-color: darkred;"></div>
      <div style="margin-bottom: 10px;width: 100%;height: 250px;background-color: darkred;"></div>
      <div style="margin-bottom: 10px;width: 100%;height: 250px;background-color: darkred;"></div>
    </div>
    <div class="ln-col">
      <div style="margin-bottom: 10px;width: 100%;height: 200px;background-color: darkred;"></div>
      <div style="margin-bottom: 10px;width: 100%;height: 200px;background-color: darkred;"></div>
      <div style="margin-bottom: 10px;width: 100%;height: 200px;background-color: darkred;"></div>
      <div style="margin-bottom: 10px;width: 100%;height: 200px;background-color: darkred;"></div>
      <div style="margin-bottom: 10px;width: 100%;height: 200px;background-color: darkred;"></div>
    </div>
    <div class="ln-col">
      <div style="margin-bottom: 10px;width: 100%;height: 280px;background-color: darkred;"></div>
      <div style="margin-bottom: 10px;width: 100%;height: 280px;background-color: darkred;"></div>
      <div style="margin-bottom: 10px;width: 100%;height: 280px;background-color: darkred;"></div>
      <div style="margin-bottom: 10px;width: 100%;height: 280px;background-color: darkred;"></div>
    </div>
  </div>
</div>
