.container
  - for (var x = 0; x < 128; x++)
    if x==65 || x==50 || x==35 || x==20 || x==36 || x==52 || x==68 || x==84 || x==100 || x==38 || x==23 || x==24 || x==41 || x==57 || x==72 || x==87 || x==102 || x==103 || x==104 || x==105 || x==28 || x==29 || x==43 || x==46 || x==60 || x==61 || x==75 || x==78 || x==91 || x==94 || x==108 || x==109
      ion-icon(name="document-sharp" class="primary")
    else
      ion-icon(name="document-text-sharp" style="animation-delay: " + Math.random()*2 + "s;")
.check
  ion-icon(name="checkmark-sharp")