
/*滚动条样式*/
.affix::-webkit-scrollbar {/*滚动条整体样式*/
	width: 3px;     /*高宽分别对应横竖滚动条的尺寸*/
	height: 3px;
}
.affix::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.2);
}
.affix::-webkit-scrollbar-track {/*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	border-radius: 10px;
	background: rgba(0,0,0,0.1);
}

/*.thumbnail{padding: 0px!important;}*/
.thumbnail .caption{padding: 0px!important;}

a,a:hover,a:visited,a:active,a:focus{text-decoration:none!important;}

.btn{text-align: left;}

.panel ul.list-group{margin-left: 18px;font-size: 12px;}
.panel li.list-group-item{padding:2px 15px;}
.panel+.panel{margin-top: 0px!important;}
.panel-heading{padding:5px 15px!important;}
.panel-title{font-size:14px;}