@charset "UTF-8";

:root {
  --bulma-column-gap: .5rem;
}

/* Custom card colors */
/* Use with `class:` property of services in config.yml */
body #main-section .container {
  max-width: 2000px;
  padding: .5rem .75rem;
  /* adjust to your needs (eg: calc(100% - 100px), none, ...) */
}

/* body #app .card.green {
  background-color: #006600;
  color: #00ff00;
} */

/* @media screen and (min-width: 1820px) {
  .container:not(.is-max-tablet):not(.is-max-desktop) {
    max-width: 1800px;
  }
} */

body h2 {
  margin-top: .5rem;
}

body #main-section .card-content {
  height: auto;
  padding: .75rem 1.3rem;
}