<div id="{{wrapper @root.path}}" class="ln-grid-container">
  <h2>{{name}} <small>{{description}}</small></h2>
  <div class="ln-row">
    <div class="ln-col-md-1">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-1</div>
    </div>
    <div class="ln-col-md-1">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-1</div>
    </div>
    <div class="ln-col-md-1">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-1</div>
    </div>
    <div class="ln-col-md-1">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-1</div>
    </div>
    <div class="ln-col-md-1">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-1</div>
    </div>
    <div class="ln-col-md-1">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-1</div>
    </div>
    <div class="ln-col-md-1">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-1</div>
    </div>
    <div class="ln-col-md-1">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-1</div>
    </div>
    <div class="ln-col-md-1">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-1</div>
    </div>
    <div class="ln-col-md-1">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-1</div>
    </div>
    <div class="ln-col-md-1">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-1</div>
    </div>
    <div class="ln-col-md-1">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-1</div>
    </div>
  </div>
  <div class="ln-row">
    <div class="ln-col-md-2">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-2</div>
    </div>
    <div class="ln-col-md-2">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-2</div>
    </div>
    <div class="ln-col-md-2">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-2</div>
    </div>
    <div class="ln-col-md-2">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-2</div>
    </div>
    <div class="ln-col-md-2">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-2</div>
    </div>
    <div class="ln-col-md-2">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-2</div>
    </div>
  </div>
  <div class="ln-row">
    <div class="ln-col-md-3">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-3</div>
    </div>
    <div class="ln-col-md-3">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-3</div>
    </div>
    <div class="ln-col-md-3">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-3</div>
    </div>
    <div class="ln-col-md-3">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-3</div>
    </div>
  </div>
  <div class="ln-row">
    <div class="ln-col-md-4">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-4</div>
    </div>
    <div class="ln-col-md-4">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-4</div>
    </div>
    <div class="ln-col-md-4">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-4</div>
    </div>
  </div>
  <div class="ln-row">
    <div class="ln-col-md-6">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-6</div>
    </div>
    <div class="ln-col-md-6">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-6</div>
    </div>
  </div>
  <div class="ln-row">
    <div class="ln-col-md-12">
      <div style="background-color: #d3dce6; height: 30px; line-height: 30px; border-radius: 6px; text-align: center;">col-12</div>
    </div>
  </div>
</div>
