NAME=


[Byethost::b7_34048879]
USERNAME=b7_34048879
PASSWORD=

[Byethost::b11_37611028]
USERNAME=b11_37611028
PASSWORD=

[Byethost::b14_37610952]
USERNAME=b14_37610952
PASSWORD=

[Byethost::b32_28202196]
USERNAME=b32_28202196
PASSWORD=
Main_Domain=langnang.byethost32.com
FTP_hostname=ftpupload.net
FTP_username=b32_28202196
MySQL_hostname=sql305.byethost32.com
MySQL_username=b32_28202196
Hosting_Volume=vol14_1
Home_Directory=/home/vol14_1/byethost32.com/b32_28202196

[VMware::CentOS]
ROOT_USERNAME=
ROOT_PASSWORD=
ADMIN_USERNAME=
ADMIN_PASSWORD=
CPOLAR_EMAIL=
[VMware::CentOS-8]
CPOLAR_EMAIL=
[VMware::Debian]
[VMware::Debian-13]
[VMware::Fedora]
[VMware::Fedora-1.6]
[VMware::Fedora-Server-1.6]
[VMware::fnOS]
[VMware::Ubuntu-24]
[VMware::Ubuntu-Server]
[VMware::Ubuntu-Server-18]
[VMware::Ubuntu-Server-22]
[VMware::Ubuntu-Server-24]
ROOT_USERNAME=
ROOT_PASSWORD=
ADMIN_USERNAME=
ADMIN_PASSWORD=
CPOLAR_VERSION=3.3.12
CPOLAR_EMAIL=ubuntu-server-24@langnang.com
DOCKER_VERSION=28.4.0
[VMware::Windows-Server]

[Cpolar::langnang.chen@outlook.com]
PHONE=
USERNAME=
PASSWORD=
AUTHTOKEN=OTE1NmMwMDItMTIyZC00MWUyLTk2MDktY2E5NDgwNjhhNDM4
CHANNELS=

[Cpolar::langnang.chen@outlok.com]
PHONE=
USERNAME=
PASSWORD=
AUTHTOKEN=MmNiMGQ4MWUtYTg1Mi00ZTBmLWEyY2EtNjAzMWYzNzZmY2E5
CHANNELS=80/http,86/http,3306/tcp,3389/tcp,

[Cpolar::752872548@qq.com]
PHONE=
USERNAME=
PASSWORD=
AUTHTOKEN=NDJmNTA5OGUtYzNhMC00YmVjLWEwNmYtODQzMDBlMTNkMjgw
CHANNELS=

[Cpolar::1624327728@qq.com]
PHONE=
USERNAME=
PASSWORD=
AUTHTOKEN=ZTljODE4MWEtM2RjOS00YmYyLWEzM2YtNTQ4MjEyNjc5NGI3
CHANNELS=

[Cpolar::wss@langnang.com]
PHONE=
USERNAME=
PASSWORD=
AUTHTOKEN=ZGU2ZTAyYWYtMzdjZS00ZjVmLTliM2MtODk5M2Q0YzZkZDQ4
CHANNELS=

[Cpolar::wss-2016@langnang.com]
PHONE=
USERNAME=
PASSWORD=
AUTHTOKEN=
CHANNELS=

[Cpolar::wss-2019@langnang.com]
PHONE=
USERNAME=
PASSWORD=
AUTHTOKEN=
CHANNELS=

[Cpolar::wss-2022@langnang.com]
PHONE=
USERNAME=
PASSWORD=
AUTHTOKEN=
CHANNELS=

[Cpolar::centos@langnang.com]
PHONE=
USERNAME=
PASSWORD=
AUTHTOKEN=
CHANNELS=

[Cpolar::centos-8@langnang.com]
PHONE=
USERNAME=
PASSWORD=
AUTHTOKEN=ZGFhZDJhYzYtNTdlNC00Nzc4LWE1MWMtMjk2OThkMDk4ODc0
CHANNELS=

[Cpolar::debian@langnang.com]

[Cpolar::fedora@langnang.com]

[Cpolar::ubuntu@langnang.com]
PHONE=
USERNAME=
PASSWORD=
AUTHTOKEN=
CHANNELS=

[Cpolar::ubuntu-24@langnang.com]
PHONE=
USERNAME=
PASSWORD=
AUTHTOKEN=ODJiYjBhYWMtY2M2ZC00YTBlLWJhM2ItOTBiMzA2ODMzMjhk
CHANNELS=

[Cpolar::ubuntu-server@langnang.com]
PHONE=
USERNAME=
PASSWORD=
AUTHTOKEN=
CHANNELS=

[Cpolar::ubuntu-server-18@langnang.com]
PHONE=
USERNAME=
PASSWORD=
AUTHTOKEN=
CHANNELS=

[Cpolar::ubuntu-server-22@langnang.com]
PHONE=
USERNAME=
PASSWORD=
AUTHTOKEN=
CHANNELS=

[Cpolar::ubuntu-server-24@langnang.com]
PHONE=
USERNAME=
PASSWORD=
AUTHTOKEN=ZDcxZDZkNDYtY2Q2ZC00ZDFhLTg2MDctZjcxMDEzM2Y0N2M1
CHANNELS=

[Cpolar::fnos@langnang.com]
PHONE=
USERNAME=
PASSWORD=
AUTHTOKEN=OTgyNzQyNmMtNWI3Ni00NjY4LWIwMWYtNzgyMjgxMmUxYzIw
CHANNELS=

[Cpolar::fnos-37@langnang.com]
EMAIL=fnos-37@langnang.com
PHONE=
PASSWORD=
AUTHTOKEN=NzQ3YTc1ZmQtNDkzMS00ZWJiLWI1NjMtNjg0NGY0MjA5N2Rj
CHANNELS=

[Cpolar::fnos-135@langnang.com]
EMAIL=fnos-135@langnang.com
PHONE=
PASSWORD=
AUTHTOKEN=MDE4YTMwOWEtOTFhZS00MWQ3LTg4MGUtNTczZDBlYTk4NTc3
CHANNELS=22/tcp,5666/http,18090/http,

[Cpolar::solution@langnang.com]

[Email::langnang.chen@outlook.com]

[GitHub::langnang]

[QQ::752872548]
[QQ::1624327728]