@charset "UTF-8";

/* Custom card colors */
/* Use with `class:` property of services in config.yml */
body #main-section .container {
  max-width: 2000px;
  /* adjust to your needs (eg: calc(100% - 100px), none, ...) */
}

/* body #app .card.green {
  background-color: #006600;
  color: #00ff00;
} */

body #main-section .card-content {
  height: auto;
  padding: .75rem 1.3rem;
}