<div id="{{wrapper @root.path}}" class="container">
  <h2>{{name}} <small>{{description}}</small></h2>
  <div class="ln-checkbox-container">
    <input type="checkbox" class="ln-checkbox-input">
    <label class="ln-checkbox">
      <span>
        <svg width="12px" height="10px">
          <polyline
                  points="1.5 6 4.5 9 10.5 1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
          ></polyline>
        </svg>
      </span>
      <span>Apples</span>
    </label>
  </div>
  <div class="ln-checkbox-container">
    <input class="ln-checkbox-input" id="apples" type="checkbox"/>
    <label class="ln-checkbox" for="apples">
      <span>
        <svg width="12px" height="10px">
          <polyline
                  points="1.5 6 4.5 9 10.5 1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
          ></polyline>
        </svg>
      </span>
      <span>Apples</span>
    </label>
    <input class="ln-checkbox-input" id="oranges" type="checkbox"/>
    <label class="ln-checkbox" for="oranges">
      <span>
        <svg width="12px" height="10px">
          <polyline
                  points="1.5 6 4.5 9 10.5 1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
          ></polyline>
        </svg>
      </span>
      <span>Oranges</span>
    </label>
  </div>
</div>
