<!DOCTYPE html>
<html lang="en" ng-controller="htmlCtrl">
<head>
	<meta charset="UTF-8">
	<title>RGB颜色和十六进制颜色值相互转换工具</title>
	<link rel="icon" href="/resources/src/img/icon/tsora.png">
	<script type="text/javascript" src="/resources/vendor/require/2.3.5/require.min.js"></script>
	<script type="text/javascript" src="/resources/src/js/require-config.js"></script>
</head>
<body ng-controller="bodyCtrl">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">RGB颜色和十六进制颜色值相互转换工具</h1>
				<hr>
			</div>
			<div class="col-md-6">
				<h3>RGB转十六进制</h3>

				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">RGB</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" placeholder="RGB(0,0,0)" ng-model="convert1.rgb">
							
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-5 col-sm-2">
							<button type="button" class="btn btn-default btn-block" ng-click="changeRgbColorToHex()">转换</button>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">十六进制</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" placeholder="#000000" ng-model="convert1.hex" readonly="">
						</div>
					</div>
				</form>
			</div>
			
			<div class="col-md-6">
				<h3>十六进制转RGB</h3>
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">十六进制</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" placeholder="#000000" ng-model="convert2.hex" >
						</div>
					</div>
					

					<div class="form-group">
						<div class="col-sm-offset-5 col-sm-2">
							<button type="button" class="btn btn-default btn-block"  ng-click="changeHexColorToRgb()">转换</button>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">RGB</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" placeholder="RGB(0,0,0)" ng-model="convert2.rgb" readonly="">
						</div>
					</div>

					
				</form>
			</div>
			<div class="col-md-6">
				
			</div>
		</div>
	</div>
	<script type="text/javascript">
		require(["bootstrap","ini-angular"],function(){
			var bodyCtrl=$('[ng-controller="bodyCtrl"]');
			bodyCtrl.scope().convert1={rgb:"RGB(0,0,0)",hex:""};
			bodyCtrl.scope().convert2={hex:"#000000",rgb:""};
			bodyCtrl.scope().changeRgbColorToHex=function(){
				bodyCtrl.scope().convert1.hex=convertRgbColorToHex(bodyCtrl.scope().convert1.rgb);
			}
			bodyCtrl.scope().changeHexColorToRgb=function(){
				bodyCtrl.scope().convert2.rgb=convertHexColorToRgb(bodyCtrl.scope().convert2.hex);
			}


			bodyCtrl.scope().$apply();

		})

		// var bodyVue=new Vue({
		// 	el:".container",
		// 	data:{
		// 		convert1:{
		// 			rgb:"RGB(0,0,0)",
		// 			hex:""
		// 		},
		// 		convert2:{
		// 			hex:"#000000",
		// 			rgb:""
		// 		}
		// 	},
		// 	methods:{
				
		// 		changeRgbColorToHex:function(){
		// 			var rgbColor=bodyVue.convert1.rgb;
		// 			// console.log(rgbColor);
		// 			var reg = /^RGB\((\s*[1-2]?[0-9]?[0-9]{1}\,)(\s*[1-2]?[0-9]?[0-9]{1}\,)(\s*[1-2]?[0-9]?[0-9]{1})\)$/;

		// 			if (reg.test(rgbColor)){
		// 				var matches = reg.exec(rgbColor);
		// 				var hexColor = '#';
		// 				for (var i = 1; i <= 3; i++){
		// 					if (parseInt(matches[i]) < 16){
		// 						hexColor += '0' + parseInt(matches[i]).toString(16)
		// 					}else{
		// 						hexColor += parseInt(matches[i]).toString(16);
		// 					}
		// 				}
		// 			}

		// 			// return hexColor;
		// 			// console.log(hexColor);
		// 			bodyVue.convert1.hex=hexColor;
		// 		},
		// 		changeHexColorToRgb:function(){
		// 			var hexColor = bodyVue.convert2.hex;
		// 			var reg = /^\#[a-fA-f0-9]{6}$/;
		// 			if (reg.test(hexColor)){
		// 				var rgbColor = 'RGB('
		// 				for (var i = 1; i < hexColor.length; i+=2){
		// 					var str = hexColor[i] + hexColor[i + 1];
		// 					if (i < 5){
		// 						rgbColor += parseInt(str, 16) + ',';
		// 					}else{
		// 						rgbColor += parseInt(str, 16) + ')';
		// 					}

		// 				}
		// 			}

		// 			bodyVue.convert2.rgb=rgbColor;
		// 		}
		// 	}
			

		// })
		
	</script>
</body>
</html>