
	{% if type=='success' %}
	<div class="alert alert-success">
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
	    <strong>Success!</strong>{{ content }}.
	</div>
	{% elseif type=='info' %}
	<div class="alert alert-info" ng-switch-when="info">
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
	    <strong>Info!</strong>{{ content }}.
	</div>
	{% elseif type=='warning' %}
	<div class="alert alert-warning" ng-switch-when="warning">
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
	    <strong>Warning!</strong>{{ content }}.
	</div>
	{% elseif type=='danger' %}
	<div class="alert alert-danger" ng-switch-when="danger">
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
	    <strong>Danger!</strong>{{ content }}.
	</div>

	{% endif %}
