<!-- Footer -->
<footer class="container-fluid">
	<hr>
	<div class="row">
		<div class="col-md-12 text-center">
			www.tsora.top
		</div>
		<ul class="col-md-12 list-inline text-center h4" style="margin-top: 5px;margin-bottom: 5px;">
			<li><i class="fa fa-qq"></i></li>
			<li><i class="fa fa-weixin"></i></li>
			<li><i class="fa fa-github"></i></li>
			<li><i class="fa fa-info-circle"></i></li>
		</ul>
		<div class="col-md-12 text-center">
			Copy right &copy; 2018
		</div>
	</div>
	<hr>
</footer>