{% if id %}

<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">ReportModal</h4>
      </div>
      <div class="modal-body">
        <p class="alert alert-success" role="report">
          {{ description }}

          {% if report.feedback %}
          <button class="btn btn-warning btn-xs pull-right" type="button" for="bugFeedback" onclick="toggleFeedback()">BUG反馈</button>
          {% endif %}

          {% if report.development %}
          <button class="btn btn-success btn-xs pull-right" type="button" for="developmentReport" onclick="toggleDevelopment()">开发报告</button>
          {% endif %}

          {% if report.thinking %}
          <button class="btn btn-info btn-xs pull-right" type="button" for="logicalThinking" onclick="toggleThinking()">逻辑思路</button>
          {% endif %}
        </p>

        {% if report.thinking %}
        <ul class="list-group" role="logicalThinking" style="display: none;">
          {% for think in report.thinking %}
          <li class="list-group-item">{{ think.think }}
            {% if think.result=='plan' %}
            <span class="label pull-right label-default">Plan</span>
            {% elseif think.result=='handle' %}
            <span class="label pull-right label-info">Handel</span>
            {% elseif think.result=='success' %}
            <span class="label pull-right label-success">Success</span>
            {% elseif think.result=='failed' %}
            <span class="label pull-right label-danger">Failed</span>
            {% else %}
            <span class="label pull-right label-primary">None</span>
            {% endif %}
            </li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if report.development %}
        <table class="table table-striped" role="developmentReport" style="display: none;">
          <caption class="text-center h3">开发报告</caption>
          <thead>
            <tr>
              <th class="text-center">开发步骤</th>
              <th class="text-center">知识技术</th>
              <th class="text-center">完成状态</th>
              <th class="text-center">存在问题</th>
            </tr>
          </thead>
          <tbody class="text-center">
          {% for development in report.development %}
            <tr>
              <td>{{ development.step }}</td>
              <td>{{ development.skill }}</td>
              <td>{{ development.state }}</td>
              <td>{{ development.isbug }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}

        {% if report.feedback %}
        <table class="table table-striped" role="bugFeedback" style="display: none;">
          <caption class="text-center h3">BUG反馈</caption>
          <thead>
            <tr>
              <th class="text-center">BUG描述</th>
              <th class="text-center">状况分析</th>
              <th class="text-center">操作步骤</th>
              <th class="text-center">反馈结果</th>
            </tr>
          </thead>
          <tbody class="text-center">
          {% for feedback in report.feedback %}
            <tr>
              <td>{{ feedback.description }}</td>
              <td>{{ feedback.analysis }}</td>
              <td>{{ feedback.action }}</td>
              <td>{{ feedback.result }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
