body{
	background-color: #cccccc;
}

/*分页pager活动页*/
ul.pager>li.active>a{background-color: #337ab7;color: white;}
ul.pager>li.active>a:hover{background-color: #337ab7;color: white;}
ul.pager>li.active>a:active{background-color: #337ab7;color: white;}
ul.pager>li.active>a:before{background-color: #337ab7;color: white;}
ul.pager>li.active>a:after{background-color: #337ab7;color: white;}

/*进度条*/
div.progress{height: 8px;}